@font-face {
	font-family: "DIMITRI_"; /* Asigna un nombre a la fuente */
	src: url("../fonts/twitch-logo/DIMITRI_.ttf") format("truetype"); /* Agrega la ruta de tu fuente */
}

@font-face {
	font-family: "RoobertRegular"; /* Asigna un nombre a la fuente */
	src: url("../fonts/roobert/RoobertRegular.woff") format("truetype"); /* Agrega la ruta de tu fuente */
}

body {
  font-family: "RoobertRegular", sans-serif;
}

h1 {
	font-family: "DIMITRI_", sans-serif;
	text-align: center;
}

.bg-twitch{
  background-color:#6441a5;}

.container-main {
  width: 90%;
  max-width: 591px;
}

.input div input:focus {
  box-shadow: none;
}

.convert-btn {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}